# Ignore all files currently in Images
Images/*
!Images/.gitkeep

# Ignore all files currently in Videos
Videos/*
!Videos/.gitkeep

# Ignore all files currently in Rosbags
Rosbags/*
!Rosbags/.gitkeep

